@font-face {
	font-family: "PT Serif";
	src: url(../fonts/PT_Serif/PT_Serif-Web-Regular.ttf);
}

@font-face {
	font-family: "Lora";
	src: url(../fonts/Lora/Lora-Regular.ttf);
}

@font-face {
	font-family: "PT Sans";
	src: url(../fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf);
}

* {
	font-family: "PT Serif";
	/*font-family: "Lora";*/
	/*font-family: "PT Sans";*/
}

header {
	height: 200px;
	background-image: url(../img/header.jpg);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.header-brand {
	display: block;
	width: 600px;
	background-color: #111;
	margin: auto;
	line-height: 200px;
	opacity: 0.6;
}

.header-brand a {
	font-size: 4em;
	display: block;
	text-align: center;
	color: beige;
}

.header-brand a:hover {
	color: antiquewhite;
	text-decoration: none;
}

.margin {
	margin: 15px 0;
}

table th, td {
	text-align: center;
}