@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e8bcvh');
  src:  url('fonts/icomoon.eot?e8bcvh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e8bcvh') format('truetype'),
    url('fonts/icomoon.woff?e8bcvh') format('woff'),
    url('fonts/icomoon.svg?e8bcvh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pen:before {
  content: "\e908";
}
.icon-library:before {
  content: "\e921";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-location2:before {
  content: "\e948";
}
.icon-database:before {
  content: "\e964";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-earth:before {
  content: "\e9ca";
}

